.btnPrimary {
    background-color: #FFCB05;
     border: 2px solid #422800;
     border-radius: 30px;
     box-shadow: #422800 4px 4px 0 0;
     color: #422800;
     cursor: pointer;
     display: inline-block;
     font-weight: 600;
     font-size: 18px;
    padding: 0 18px;
     line-height: 50px;
     text-align: center;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     margin: 20px;
   }
   
   .btnPrimary:hover {
     background-color: #fff;
   }
   
   .btnPrimary:active {
     box-shadow: #422800 2px 2px 0 0;
     transform: translate(2px, 2px);
   }
   
   @media (min-width: 768px) {
       .btnPrimary {
       min-width: 120px;
       padding: 0 25px;
     }
   }   
 
   label {
     font-size: 1.5rem;
   }
 
 .boxForm {
     background-color: #fff;
     padding: 30px;
     margin: 20px 0;
     border-radius: 15px;
     box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
     display: flex;
     gap: 1rem;
 }
 
 .boxForm > form  {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   width: 35rem;
 }
 .boxForm > form select {
   border: 1px solid #422800;
   color: #422800;
   font-weight: 600;
   font-size: 18px;
   text-align: center;
   padding: 0.5rem 1rem;
   outline: 0;
   cursor: pointer;
   background-color: #f9f9f9;
   flex-grow: 1;
 }
 .boxForm > form > div {
   display: flex;
   flex-direction: column;
   gap: .25rem;
 }
 .boxForm > form > div > input:not([type="submit"])  {
   outline: 0;
   border: 2px solid #FFCB05;
   padding: 1rem;
   font-size: 1rem;
   margin: 0;
   border-radius: 10px;
 }
 .boxForm > form > div > p  {
   color: rgb(185, 0, 0);
   font-size: 1rem;
 }
 .boxTypesFather h3{
   font-size: 1rem;
   margin: 0;
   margin-bottom: 1rem;
 }
 .boxTypesFather {
   background-color: #fff;
   padding: 30px;
   margin: 20px 0;
   border-radius: 15px;
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   height: fit-content;
   min-height: 15rem;
   min-width: 15rem;
 }
 
 .types {
     display: flex;
     font-size: 1rem;
     gap: 30px;
     padding: 0.5rem 0;
     justify-content: space-between;
 }
 
 .types button{
   background-color: rgb(255, 64, 64);
   color: #ffffff;
   cursor: pointer;
   font-weight: 600;
 }
 
 .boxTypes {
   display: flex;
   flex-direction: column;
 }
 /* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .boxForm {
    flex-direction: column;
  }

  .boxForm > form {
    width: 100%;
  }

  .boxForm > form > div {
    width: 100%;
  }

  .boxForm > form select {
    width: 100%;
  }
}