.searchBar{
    height: 50px;
    min-width: 80px;
    gap: 5px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    vertical-align: middle;
    
}

.btnPrimary {
      background-color: #FFCB05;
      border: 2px solid #422800;
      border-radius: 30px;
      box-shadow: #422800 4px 4px 0 0;
      color: #422800;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .btnPrimary:hover {
      background-color: #fff;
    }
    
    .btnPrimary:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
    
    @media (min-width: 768px) {
        .btnPrimary {
        min-width: 20px;
        padding: 0 25px;
      }
    }   


.searchBar input{
    border: solid 2px #1D2C5E;
    border-radius: 10px;
    font-size: 20px;
}